@font-face {
  font-family: "Inter";
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url('./assets/fonts/Inter-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Inter";
  src: url('./assets/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url('./assets/fonts/Inter-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@tailwind base;

@layer base {
  body, input, button {
      font-family: "Inter";
  }

  button, a {
      -webkit-tap-highlight-color: transparent;
  }
}

@tailwind components;
@tailwind utilities;